.Edit {
    display: inline;
    font-size: small;
}

.Name {
    display: inline;
}

.output {
    overflow: hidden;
}

.log {
     white-space: pre-wrap;
}

.danger {
    background: #f2dede;
}

.selected {
    background:   #dff0d8;
    border-color: #dff0d8;
    border-style: solid;
    border-width: thick;
}

.cron {
    background: #e1f9f6;
}

.red {
    color: #ef3737;
}

.red:hover {
    color: #f60f0f;
}

.col-sm-2 {
    padding-right: 4;
    padding-left:  4;
}

.col-sm-5 {
    padding-right: 4;
    padding-left:  4;
}

.panel {
    margin-bottom: 10;
}

.update-panel dt { width: 80px; }
.update-panel dd { margin-left: 90px; }

.dbdump-panel dt { width: 70px; }
.dbdump-panel dd { margin-left: 80px; }

.script-panel dt { width: 80px; }
.script-panel dd { margin-left: 90px; }

.server-panel dt { width: 110px; }
.server-panel dd { margin-left: 120px; }

.roller {
    overflow-y: auto;
    height: 80%;
}

.right {
    float: right;
}