.Edit {
    display: inline;
    font-size: small;
}

.roller {
    overflow-y: auto;
    height: 80%;
}

.Name {
    display: inline;
}

.output {
    overflow: hidden;
}

.log {
     white-space: pre-wrap;
}

.danger {
    background: MistyRose;
}

.right {
    float: right;
}

.selected {
    border-color: green;
    border-style: solid;
    border-width: thick;
}

.cron {
    background: AliceBlue; /* Lavender; LightCyan; Also good */
}

.col-sm-2, .col-sm-5, .col-sm-10 {
    padding-right: 5px;
    padding-left:  5px;
}

/*-------------{ Panels }-----------------*/
.panel {
    margin-bottom: 10px;
}

.panel-default:hover {
    border-color: darkgrey;
}

.panel-body, .panel-heading {
    padding-left:   8px;
    padding-right:  5px;
    padding-top:    5px;
    padding-bottom: 5px;
}

.panel-body   dl { margin-bottom: 0px; }

.update-panel dt { width: 80px; }
.update-panel dd { margin-left: 90px; }

.dbdump-panel dt { width: 40px; }
.dbdump-panel dd { margin-left: 50px; }

.script-panel dt { width: 80px; }
.script-panel dd { margin-left: 90px; }

.server-panel dt { width: 110px; }
.server-panel dd { margin-left: 120px; }

/*-------------{ Tables }-----------------*/
.commands_table, th, td {
    border-top:    1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    font-size: small;
    padding: 3px;
    width: 90%;
}

td:hover {
    background: lightgrey;
}

td {
    color: SteelBlue;
}