.inline {
    display: inline;
}

.output {
    overflow: hidden;
}

.log {
     white-space: pre-wrap;
}

.right {
    float: right;
}

.danger {
    background: MistyRose;
}

.cron {
    background: AliceBlue; /* Lavender; LightCyan; Also good */
}

.row {
    padding: 10px 15px 10px 15px;
}

.disabled {
    font-weight: bold;
}

.roller {
    overflow-y: auto;
    height:     80%;
}

.col-sm-2, .col-sm-5, .col-sm-10 {
    padding-right: 5px;
    padding-left:  5px;
}

/*-----{ Mini logs }-----*/
.mini_log {
    position: relative;
    overflow: hidden;
    padding:  30px;
    height:   auto;
}

.mini_log iframe {
    position: absolute;
    height:   100%;
    width:    100%;
    left:     0;
    top:      0;
}

.mini_log:hover {
    cursor: pointer;
}

/*---{ Individual info on\off buttons }---*/
.glyphicon-menu-down, .glyphicon-menu-up {
    color:     SteelBlue;
    font-size: 10px;

}

.glyphicon-menu-down:hover, .glyphicon-menu-up:hover {
    color:  DarkGrey;
    cursor: pointer;
}

/*------------{ Selector }----------------*/
.selected {
    border-color: green;
    border-style: solid;
    border-width: thick;
}

/*-------------{ Panels }-----------------*/
.panel {
    margin-bottom: 10px;
}

.jumbotron {
    border: 1px solid LightGrey;
}

.panel:hover, .jumbotron:hover, .well:hover {
    border-color: DarkGrey;
    /*cursor:       pointer;*/
}

.panel-heading { padding: 2px 2px 2px 5px; }
.panel-body    { padding: 0px 2px 2px 5px; }
.panel-body dl { margin:  5px; }

.update-panel dt { width:       80px; }
.update-panel dd { margin-left: 90px; }

.dbdump-panel dt { width:       40px; }
.dbdump-panel dd { margin-left: 50px; }

.script-panel dt { width:       80px; }
.script-panel dd { margin-left: 90px; }

.server-panel dt { width:       110px; }
.server-panel dd { margin-left: 120px; }

.cron-panel   dt { width:       110px; }
.cron-panel   dd { margin-left: 120px; }

/*-------------{ Tables }-----------------*/
.commands_table, th, td {
    border-top:    1px solid LightGrey;
    border-bottom: 1px solid LightGrey;
    padding:       6px 3px 6px 10px;
    font-size:     small;
    width:         100%;
}

td {
    padding: 5px 3px 5px 15px;
    color:   SteelBlue;
}

td:hover {
    background: LightGrey;
    cursor:     pointer;
}