dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.23
django-bootstrap3==8.1.0
django-guardian==1.4.6
gunicorn==19.7.1
pkg-resources==0.0.0
psycopg2==2.7.3.2
python-dateutil==2.7.3
pytz==2016.10
six==1.10.0
static3==0.7.0
