{% load bootstrap3 %}
{% load static %}

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script src="{% static 'js/project.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/loader.css' %}">
        <link rel="stylesheet" href="{% static 'css/control.css' %}">

    </head>

    <body>

        {% include "ups/up_down_buttons.html" %}

        <!-- Статическая навигационная панель -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    </button>
                    <a class="navbar-brand" href="{% url 'ups:index'  %}">Update Server</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'ups:projects' %}">Projects</a></li>
                        {% if project %}
                            <li><a href="{% url 'ups:project' project.id %}">{{project}}</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        {% if user.is_authenticated %}
                            {% if project %}
                                <li><a href="{% url 'ups:history' project.id %}">History</a></li>
                            {% endif %}
                            <li><a>Hello, {{user.username}}.</a></li>
                            <li><a href="{% url 'users:logout' %}">log out</a></li>
                        {% else %}
                            <li><a href="{% url 'users:register' %}">register</a></li>
                            <li><a href="{% url 'users:login' %}">log in</a></li>
                        {% endif %}

                    </ul>
                </div> <!-- .nav-collapse -->

            </div> <!-- /container -->

        </nav>

        <div class="container">
            <div class="page-header">{% block header %}{% endblock header %}</div>
            <div id="project-body">{% block content %}{% endblock content %}</div>
            <div id="loader-max" class="loader hidden">{% include "ups/5div.html" %}</div>
        </div>

    </body>

</html>