{% extends "ups/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <br>
    <h2>Canceled :(</h2>
{% endblock header %}

{% block content %}
    <!--<a title="Close this window"   class="btn btn-default" onclick="window.close();">Close</a>-->
    <div class="btn-group ok_btn">
        <a title="Go back to project" class="btn btn-primary" href="{% url 'ups:project' project.id %}?{{info}}">Back</a>
        <a title="Close this window"  class="btn btn-default" onclick="window.close();">Close</a>
    </div>
{% endblock content %}