<table class="commands_table">
    <tr><th onclick="show_hide_commands('servers_commands');">Servers commands</th></tr>
</table>

<table class="commands_table" id="servers_commands">
    {% for command in commands %}
        {% if command.section == "server" and not command.ctm %}
            {% include "ups/commands_table.html" %}
        {% endif %}
    {% endfor %}

    {% if "connect_to_idp" in pr_view_perms %}
        <tr>
            <td title="Add client to IDP" onclick="connect_to_idp('{{project.id}}', '{{info}}');">Connect to IDP
            </td>
        </tr>
    {% endif %}

</table>