<div class="roller">

    <!--<table class="table small">-->
    <table class="commands_table">

        <tr><th>Updates commands</th></tr>

        <tr>
            <td title="Select all updates."
                onclick="select_all('selected_updates', 'update-body', true,  'SU')">Select all updates</td>
        </tr>

        <tr>
            <td title="Deselect all updates."
                onclick="select_all('selected_updates', 'update-body', false, 'SU')">Deselect all updates</td>
        </tr>

        {% for command in commands %}

            {% if command.section == "update" %}
                {% include "ups/commands_table.html" %}
            {% endif %}

        {% endfor %}

        {% include "ups/commands_list_servers.html" %}

    </table>

</div>