<li><a href="javascript:;" onclick="return Validation('restart', 'true', '', '')">restart</a></li>
<input class="hidden"
       type="checkbox"
       readonly="readonly"
       name="select_restart"
       value="restart"
       id="restart"/>

<li><a href="javascript:;" onclick="return Validation('update', 'true', 'true', '')">update</a></li>
<input class="hidden"
       type="checkbox"
       readonly="readonly"
       name="select_update"
       value="update"
       id="update"/>

<li><a href="javascript:;" onclick="return Validation('copy', 'true', 'true', '')">copy</a></li>
<input class="hidden"
       type="checkbox"
       readonly="readonly"
       name="select_copy"
       value="copy"
       id="copy"/>
