<!-- Validation(input_id(if it not submit type), check_srv, check_upd, check_job) -->

<a      onclick="select_all('selected_servers', 'server-body', false)
                 checker('server_box{{ server.id }}', 'server_body{{ server.id }}')
                 Validation('server_info', true, false, false)"
        title="Show system info: CPU, mem, disk etc."
        href="javascript:;"
        class="Edit">Info</a>
<input  name="selected_commands"
        readonly="readonly"
        value="server_info"
        id="server_info"
        type="checkbox"
        class="hidden"/>

<a      onclick="select_all('selected_servers', 'server-body', false)
                 checker('server_box{{ server.id }}', 'server_body{{ server.id }}')
                 Validation('check_conf', true, false, false)"
        title="Show conf(standalone-full.xml) and java options of this server."
        href="javascript:;"
        class="Edit">Conf</a>
<input  name="selected_commands"
        readonly="readonly"
        value="check_conf"
        id="check_conf"
        type="checkbox"
        class="hidden"/>

<a      onclick="select_all('selected_servers', 'server-body', false)
                 checker('server_box{{ server.id }}', 'server_body{{ server.id }}')
                 Validation('check_logs', true, false, false)"
        title="Check logs from this server."
        href="javascript:;"
        class="Edit">Logs</a>
<input  name="selected_commands"
        readonly="readonly"
        value="check_logs"
        id="check_logs"
        type="checkbox"
        class="hidden"/>

<a      onclick="select_all('selected_servers', 'server-body', false)
                 checker('server_box{{ server.id }}', 'server_body{{ server.id }}')
                 Validation('check_updates', true, false, false)"
        title="Check updates on this server."
        href="javascript:;"
        class="Edit">Updates</a>
<input  name="selected_commands"
        value="check_updates"
        readonly="readonly"
        id="check_updates"
        type="checkbox"
        class="hidden"/>

<!--<a      onclick="select_all('selected_servers', 'server-body', false)-->
                 <!--checker('server_box{{ server.id }}', 'server_body{{ server.id }}')-->
                 <!--Validation('tunnel', true, false, false)"-->
        <!--title="Make ssh tunnel to port 8080 on this server."-->
        <!--href="javascript:;"-->
        <!--class="Edit">Tunnel</a>-->
<!--<input  name="selected_commands"-->
        <!--readonly="readonly"-->
        <!--type="checkbox"-->
        <!--class="hidden"-->
        <!--value="tunnel"-->
        <!--id="tunnel"/>-->