<!-- Validation(input_id(if it not submit type), check_srv, check_upd, check_job) -->
<li><a  onclick="return Validation('Start', true, false, false)"
        title="Start selected server(s)."
        href="javascript:;">Start</a></li>
<input  name="selected_commands"
        readonly="readonly"
        type="checkbox"
        class="hidden"
        value="Start"
        id="Start"/>

<li><a  onclick="return Validation('Stop', true, false, false)"
        title="Stop selected server(s)."
        href="javascript:;">Stop</a></li>
<input  name="selected_commands"
        readonly="readonly"
        type="checkbox"
        class="hidden"
        value="Stop"
        id="Stop"/>

<li><a  onclick="return Validation('Restart', true, false, false)"
        title="Restart selected server(s)."
        href="javascript:;">Restart</a></li>
<input  name="selected_commands"
        readonly="readonly"
        type="checkbox"
        value="Restart"
        class="hidden"
        id="Restart"/>

<li><a  onclick="return Validation('Reload', true, false, false)"
        title="Reload config on selected server(s)."
        href="javascript:;">Reload</a></li>
<input  name="selected_commands"
        readonly="readonly"
        type="checkbox"
        class="hidden"
        value="Reload"
        id="Reload"/>

<li><a  onclick="return Validation('Maintenance_ON', true, false, false)"
        title="Show 'Maintenance' page on selected server(s)."
        href="javascript:;">Maintenance ON</a></li>
<input  name="selected_commands"
        value="Maintenance_ON"
        id="Maintenance_ON"
        readonly="readonly"
        type="checkbox"
        class="hidden"/>

<li><a  onclick="return Validation('Maintenance_OFF', true, false, false)"
        title="Hide 'Maintenance' page on selected server(s)."
        href="javascript:;">Maintenance OFF</a></li>
<input  name="selected_commands"
        value="Maintenance_OFF"
        id="Maintenance_OFF"
        readonly="readonly"
        type="checkbox"
        class="hidden"/>

<li role="separator" class="divider"></li>

<li><a  onclick="return Validation('Get_dump', true, false, false)"
        title="Get DB dump from selected server(s)."
        href="javascript:;">Get dump</a></li>
<input  name="selected_commands"
        readonly="readonly"
        type="checkbox"
        class="hidden"
        value="Get_dump"
        id="Get_dump"/>

<li><a  onclick="return Validation('Update', true, true, false)"
        title="Update selected server(s)."
        href="javascript:;">Update</a></li>
<input  name="selected_commands"
        readonly="readonly"
        type="checkbox"
        class="hidden"
        value="Update"
        id="Update"/>

<li><a  onclick="return Validation('Copy', true, true, false)"
        title="Copy selected update(s) to selected server(s)."
        href="javascript:;">Copy</a></li>
<input  name="selected_commands"
        readonly="readonly"
        type="checkbox"
        class="hidden"
        value="Copy"
        id="Copy"/>
