
<!--------------------------------------------Edit button----------------------------------------->
{% if "edit_script" in pr_view_perms %}
    <a href="{% url 'ups:edit_script' script.id %}?{{info}}"
       title="Edit this script."
       class="Edit">Edit</a>
{% endif %}

<!-----------------------------------------Available commands------------------------------------->
<!--------------------- Validation('cmd_name', server, update, cronjob, script, dump) ------------>
{% if "run_command" in pr_view_perms %}
    {% if script.type == 'sql' %}
        <a onclick="run_or_cron('RUN');
                    select_all('selected_scripts', 'script-body', false, 'SX');
                    selector('xx{{ script.id }}', 'xb{{ script.id }}', '{{ script }}', 'SX');
                    Validation('sql_script', true, false, false, true)"
           title="Run this SQL script on selected server(s)."
           href="javascript:;"
           class="Edit">Run</a>
    {%else%}
        <a onclick="run_or_cron('RUN');
                    select_all('selected_scripts', 'script-body', false, 'SX');
                    selector('xx{{ script.id }}', 'xb{{ script.id }}', '{{ script }}', 'SX');
                    Validation('script', true, false, false, true)"
           title="Run this BASH script on selected server(s)."
           href="javascript:;"
           class="Edit">Run</a>
    {%endif%}
{%endif%}

<!--------------------------------------------Download button------------------------------------->
{% if "dld_script" in pr_view_perms %}
    <a onclick="selector('xx{{ script.id }}', 'xb{{ script.id }}', '{{ script }}', 'SX')"
       href="/download_script/{{ project.id }}/{{ script.id }}"
       title="Download this script."
       class="Edit">Download</a>
{% endif %}