<tr>
    <td title="{{command.title}}"
        class="{{command.class}}"
        onclick="{{command.run}}
                 return Validation('{{command.name}}',
                                    {{command.srv}},
                                    {{command.upd}},
                                    {{command.job}},
                                    {{command.scr}},
                                    {{command.dmp}},
                                    {{command.dgr}})">{{command.menu}}</td>
</tr>