<div class="commands_all">

    {% if "run_cron" in pr_view_perms %}
        {% include "ups/commands_list_cron.html" %}
    {% endif %}

    {% if "run_dump" in pr_view_perms %}
        {% include "ups/commands_list_dumps.html" %}
    {% endif %}

    {% if "run_script" in pr_view_perms or "run_sql_script" in pr_view_perms %}
        {% include "ups/commands_list_scripts.html" %}
    {% endif %}

    {% if "run_update" in pr_view_perms %}
        {% include "ups/commands_list_updates.html" %}
    {% endif %}

    {% include "ups/commands_list_servers.html" %}

</div>