<!-- Validation(input_id(if it not submit type), check_srv, check_upd, check_job) -->
<li><a  onclick="return Validation('check_updates', true, false, false)"
        title="Check updates on selected server(s)."
        href="javascript:;">Check updates</a>
<input  name="selected_commands"
        value="check_updates"
        readonly="readonly"
        id="check_updates"
        type="checkbox"
        class="hidden"/></li>

<li><a  onclick="return Validation('check_logs', true, false, false)"
        title="Check logs on selected server(s)."
        href="javascript:;">Check logs</a>
<input  name="selected_commands"
        readonly="readonly"
        value="check_logs"
        id="check_logs"
        type="checkbox"
        class="hidden"/></li>

<li><a  onclick="return Validation('check_conf', true, false, false)"
        title="Show conf(standalone-full.xml) of selected server(s)."
        href="javascript:;">Check conf</a>
<input  name="selected_commands"
        readonly="readonly"
        value="check_conf"
        id="check_conf"
        type="checkbox"
        class="hidden"/></li>

<li><a  onclick="return Validation('delete_job', false, false, true)"
        title="Delete selected job(s)."
        href="javascript:;">Delete job</a>
<input  name="selected_commands"
        readonly="readonly"
        value="delete_job"
        id="delete_job"
        type="checkbox"
        class="hidden"/></li>