{% extends "ups/base.html" %}

{% block header %}

    <br>

    <div class="row">
        <div class="col-md-2">
            <h4 class="Name">{{cmd}}</h4>
        </div>
    </div>

{% endblock header %}

{% block content %}

    <div class="output"></div>
    <div class="output_bottom">{% include "ups/output_bottom_panel.html" %}</div>

    <script type="text/javascript">

        function logs_to_div(id) { $(id).load('/logs/?{{url}}'); }
        var intervalID = setInterval(logs_to_div('.output'), 2000);

    </script>

{% endblock content %}