
<!--------------------------------------------Edit button----------------------------------------->
{% if "edit_update" in pr_view_perms %}
    <a onclick="selector('ux{{ update.id }}', 'ub{{ update.id }}', '{{ update }}', 'SX')"
       href="{% url 'ups:edit_update' update.id %}?{{info}}"
       title="Edit this update's info."
       class="small">Edit</a>
{% endif %}

<!---------------------------------------------Copy button---------------------------------------->
<!--------------------- Validation('cmd_name', server, update, cronjob, script, dump) ------------>
{% if "run_command" in pr_view_perms %}
    <a onclick="select_all('selected_updates', 'update-body', false, 'SU');
                selector('ux{{ update.id }}', 'ub{{ update.id }}', '{{ update }}', 'SX');
                Validation('copy', true, true, false, false)"
       title="Copy this update to selected server(s)."
       href="javascript:;"
       class="small">Copy</a>
{% endif %}

<!--------------------------------------------Download button------------------------------------->
{% if "dld_update" in pr_view_perms %}
    <a onclick="selector('ux{{ update.id }}', 'ub{{ update.id }}', '{{ update }}', 'SU')"
       href="/download_upd/{{ project.id }}/{{ update.id }}"
       title="Download this update."
       class="small">Download</a>
{% endif %}