<li><a href="javascript:;"
       onclick="return Validation('Check updates', 'true', '', '')">Check updates</a>
<input class="hidden"
       type="checkbox"
       readonly="readonly"
       name="selected_commands"
       value="Check updates"
       id="Check updates"/></li>

<li><a href="javascript:;"
       onclick="return Validation('Check logs', 'true', '', '')">Check logs</a>
<input class="hidden"
       type="checkbox"
       readonly="readonly"
       name="selected_commands"
       value="Check logs"
       id="Check logs"/></li>

<li><a href="javascript:;"
       onclick="return Validation('Delete job', '', '', 'true')">Delete job</a>
<input class="hidden"
       type="checkbox"
       readonly="readonly"
       name="selected_commands"
       value="Delete job"
       id="Delete job"/></li>