<div class="roller">

    <table class="table small">

        <tr><td><b>Updates commands</b></td></tr>

        <tr><td>
            <a href="javascript:;"
               title="Select all updates."
               onclick="select_all('selected_updates', 'update-body', true,  'SU')">Select all updates</a>
        </td></tr>

        <tr><td>
            <a href="javascript:;"
               title="Deselect all updates."
               onclick="select_all('selected_updates', 'update-body', false, 'SU')">Deselect all updates</a>
        </td></tr>

        {% for command in commands %}

            {% if command.section == "update" %}
                {% include "ups/commands_table.html" %}
            {% endif %}

        {% endfor %}

        {% include "ups/commands_list_servers.html" %}

    </table>

</div>