{% extends "ups/base.html" %}

{% block header %}

    <br><div class="row">
        <div class="col-md-4">
            <h4 class="Name">{{cmd}}</h4>
        </div>
    </div>

{% endblock header %}
{% block content %}

    <div class="hidden">
        <input id="id_server_info"/><input id="id_script_info"/>
        <input id="id_update_info"/><input id="id_dbdump_info"/>
    </div>

    <div class="output">

        {% for log in logs %}

            <dl class="dl-horizontal" id="log{{log.id}}">
                {% if log.event %}
                    <dt>Server name</dt><dd>{{log.event.serv}}</dd>
                {% endif %}
                {% if tag %}
                    <dt>Event logs</dt><dd class="log"><tt>{{log.log|safe}}</tt></dd>
                {% else %}
                    <dt>Event logs</dt><dd class="log"><tt>{{log.log}}</tt></dd>
                {% endif %}
                {% if log.err < 999 %}
                    <dt>Error code</dt><dd>{{log.err}}</dd>
                    {% if log.err > 0 %}
                        <script type="text/javascript">
                            document.getElementById('log{{log.id}}').style.background = 'MistyRose';
                        </script>
                    {% endif %}
                {% else %}
                    <dd><div class="small_loader"></div></dd>
                {% endif %}
            </dl>

            <hr>

        {% endfor %}

        {% if end %}
            <dt><br><a class="btn {{ok}}" href="{{back}}">OK</a></dt>
            <!--<dt><br><a class="btn {{ok}}" onclick="window.close();">Close</a></dt>-->
        {% else %}
            <meta http-equiv="refresh" content="2">
            <br><br>
            <a class="btn btn-primary" href="{{cancel}}">Cancel</a>
        {% endif %}

        <br><br><br>
        <br><br><br>
        <br><br><br>

    </div>

    <div class="output_bottom">{% include "ups/output_bottom_panel.html" %}</div>

    <script type="text/javascript">
        $(document).ready(function() { go_down(); });
    </script>

{% endblock content %}