<div class="roller">

    <!--<table class="table small">-->
    <table class="commands_table">

        <tr><th>Scripts commands</th></tr>

        <tr><td>
            <a href="javascript:;"
               title="Select all scripts."
               onclick="select_all('selected_scripts', 'script-body', true,  'SX')">Select all scripts</a>
        </td></tr>

        <tr><td>
            <a href="javascript:;"
               title="Deselect all scripts."
               onclick="select_all('selected_scripts', 'script-body', false, 'SX')">Deselect all scripts</a>
        </td></tr>

        {% for command in commands %}
            {% if command.section == "script" %}
                {% include "ups/commands_table.html" %}
            {% endif %}
        {% endfor %}

        {% include "ups/commands_list_servers.html" %}

    </table>

</div>