
<!--------------------------------------------{ Edit button }------------------------------------->
{% if "edit_server" in pr_view_perms %}
    <a onclick="selector('sx{{ server.id }}', 'sb{{ server.id }}', '{{ server }}', 'SS');"
       href="{% url 'ups:edit_server' server.id %}?{{info}}"
       title="Edit this server's info"
       class="small">Edit</a>
{% endif %}

<!-----------------------------------------{ Available commands }--------------------------------->
<!---------------------{ Validation('cmd_name', server, update, cronjob, script, dump) }---------->
{% if "run_command" in pr_view_perms %}
    {% for command in commands %}
        {% if command.section == "server" and command.fst %}
            {% if command.permission in pr_view_perms %}
                <a class="small"
                   href="javascript:;"
                   title="{{command.title}}"
                   onclick="{{command.run}}
                            select_all('selected_servers', 'server-body', false, 'SS');
                            selector('sx{{ server.id }}', 'sb{{ server.id }}', '{{ server }}', 'SS');
                            return Validation('{{command.name}}',
                                               {{command.srv}},
                                               {{command.upd}},
                                               {{command.job}},
                                               {{command.scr}},
                                               {{command.dmp}},
                                               {{command.dgr}})">{{command.short}}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

<!--------------------------------------------{ Servers URL }------------------------------------->
{% if server.http %}
    <a onclick="selector('sx{{ server.id }}', 'sb{{ server.id }}', '{{ server }}', 'SS')"
       title="{{server.http}}"
       href="{{server.http}}"
       class="small">URL</a>
{% endif %}