<!-- Validation(input_id(if it not sxbmit type), check_srv, check_upd, check_job, check_script) -->
{% if script.type == 'sql' %}
    <a      onclick="run_or_cron('RUN', 'CRON');
                     select_all('selected_scripts', 'script-body', false, 'SX');
                     selector('xx{{ script.id }}', 'xb{{ script.id }}', '{{ script }}', 'SX');
                     Validation('sql_script', true, false, false, true)"
            title="Run this SQL script on selected server(s)."
            href="javascript:;"
            class="Edit">Run</a>
    <input  name="selected_commands"
            readonly="readonly"
            value="sql_script"
            id="sql_script"
            type="checkbox"
            class="hidden"/>
{%else%}
    <a      onclick="run_or_cron('RUN', 'CRON');
                     select_all('selected_scripts', 'script-body', false, 'SX');
                     selector('xx{{ script.id }}', 'xb{{ script.id }}', '{{ script }}', 'SX');
                     Validation('script', true, false, false, true)"
            title="Run this BASH script on selected server(s)."
            href="javascript:;"
            class="Edit">Run</a>
    <input  name="selected_commands"
            readonly="readonly"
            value="script"
            id="script"
            type="checkbox"
            class="hidden"/>
{%endif%}