<div class="roller">

    <!--<table class="table small">-->
    <table class="commands_table">

        <tr><th>Cron commands</th></tr>

        <tr>
            <td title="Select all cron jobs"
                onclick="select_all('selected_jobs', 'job-body', true,  'SJ')">Select all jobs</td>
        </tr>

        <tr>
            <td title="Deselect all cron jobs"
                onclick="select_all('selected_jobs', 'job-body', false, 'SJ')">Deselect all jobs</td>
        </tr>

        <!--<tr>-->
            <!--<td title="Select servers related to selected jobs" onclick="find_servers()">Find server(s)</td>-->
        <!--</tr>-->

        {% for command in commands %}
            {% if command.section == "cron" %}
                {% include "ups/commands_table.html" %}
            {% endif %}
        {% endfor %}

        {% include "ups/commands_list_servers.html" %}

    </table>

</div>