<table class="commands_table">
    <tr><th onclick="show_hide_commands('cron_commands');">Cron commands</th></tr>
</table>

<table class="commands_table hidden hidden_commands" id="cron_commands">
    {% for command in commands %}
        {% if command.section == "cron" %}
            {% include "ups/commands_table.html" %}
        {% endif %}
    {% endfor %}

    <tr>
        {% include "ups/date_picker.html" %}
    </tr>

    <tr>
        {% include "ups/time_picker.html" %}
    </tr>
</table>