<table class="commands_table">
    <tr><th onclick="show_hide_commands('cronop_commands');">Cron options</th></tr>
</table>

<table class="commands_table hidden" id="cronop_commands">
    <tr>
        <td id="CRON_BUTTON"
            onclick="run_or_cron('')"
            title="Schedule command to run from cron">Run in cron</td>
    </tr>

    <tr id="datepicker" class="hidden">
        {% include "ups/date_picker.html" %}
    </tr>

    <tr id="timepicker" class="hidden">
        {% include "ups/time_picker.html" %}
    </tr>

</table>