<table class="commands_table no_border" id="cronop_commands">
    <tr><th>Cron options</th></tr>

    <tr>
        <td title="Schedule command to run from cron"
            onclick="run_or_cron('')"
            id="CRON_BUTTON">Run in cron</td>
    </tr>

    <tr id="datepicker" class="hidden">
        <th class="no_padding">
            <div class="input-group no_border">
                <input type="date" name="selected_date" class="form-control no_border input-sm" title="Enter cron job date">
                <span class="input-group-addon no_border">
                    <span class="glyphicon glyphicon-calendar no_border"></span>
                </span>
            </div>
        </th>
    </tr>

    <tr id="timepicker" class="hidden">
        <th class="no_padding">
            <div class="input-group">
                <input type="time" name="selected_time" class="form-control no_border input-sm" title="Enter cron job time">
                <span class="input-group-addon no_border">
                    <span class="glyphicon glyphicon-time no_border"></span>
                </span>
            </div>
        </th>
    </tr>
</table>