{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/control.css' %}">
</head>

<body>
    <div class="panel {{panel}}"
         title="Click to view command log"
         onclick="window.open('/command_log/?cmd={{cmd}}&prid={{project.id}}&logid={{event.uniq}}', '_blank');">

        <div class="panel-heading">
            <nobr>
                {{event.name}}
                {% if event.serv %} on <strong>{{event.serv.name}}</strong> {% endif %}
                <small>{{event.date|date:'H:i'}}</small>
            </nobr>
        </div>

        <div class="panel-body">
            <div class="mini_log_txt">{{text}}</div><div class="hint">click to view log</div>
            {% if not end %}
                <meta http-equiv="refresh" content="1">
            {% endif %}
        </div>

    </div>
</body>