{% load bootstrap3 %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% bootstrap_css %}
    <style type="text/css">
        {% include "ups/css/control.css" %}
    </style>

</head>

<body>

    <div class="panel {{panel}} mini_log"
         title="Click to view command log."
         onclick="window.open('/command_log/?cmd={{cmd}}&prid={{project.id}}&logid={{event.uniq}}', '_blank');">

        <div class="panel-heading">
            <!--<h4>{{event.serv.name}} - {{event.name|lower}}</h4>-->
            <nobr>{{event.name}} {% if event.serv %} on <strong>{{event.serv.name}}</strong> {% endif %}</nobr>
        </div>

        <div class="panel-body">
            {% if end %}
                {{text}}
            {% else %}
                {{text}}
                <meta http-equiv="refresh" content="2">
            {% endif %}
        </div>

    </div>

</body>