        <th class="no_padding">
            <div class="input-group">
                <input type="date"
                       name="selected_date"
                       min="{%now 'Y-m-d'%}"
                       max="{%now 'Y'%}-12-31"
                       title="Enter cron job date"
                       class="form-control no_border input-sm">
                       <span class="input-group-addon no_border">
                           <span class="glyphicon glyphicon-calendar no_border"></span>
                       </span>
            </div>
        </th>