{% extends "ups/base.html" %}
{% load guardian_tags %}
{% load bootstrap3 %}
{% load static %}

{% block header %}
    <br>
    <h2>Edit script - {{ script }}</h2>
{% endblock header %}

{% block content %}

    {% get_obj_perms request.user for project as "edit_script_perms" %}

    <form method="post"
          onsubmit="show_loader()"
          enctype="multipart/form-data"
          action="{% url 'ups:edit_script' script.id %}?{{info}}">

          {% bootstrap_form form %}
          {% csrf_token %}

          <input type="submit" name="ok" value="Save changes" class="btn btn-primary"/>
          <a class="btn btn-primary" href="{% url 'ups:project' project.id %}?{{info}}">Cancel</a>

          {% if "del_script" in edit_script_perms %}
              <hr>
              <input type="submit" name="delete" value="Delete" class="btn btn-danger"/>
          {% endif %}
    </form>

{% endblock content %}