{% extends "ups/base.html" %}
{% load guardian_tags %}

{% block content %}

    {% get_obj_perms request.user for project as "edit_project_perms" %}

    <p><a href="{% url 'ups:project' project.id %}">{{ project }}</a></p>

    <p>Edit project:</p>

    <form action="{% url 'ups:edit_project' project.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Save changes</button>

        {% if "delete_project" in edit_project_perms %}
            <hr>
            <input type="submit" name="delete" value="Delete"/>
        {% endif %}

    </form>

{% endblock content %}