{% extends "ups/base.html" %}
{% load guardian_tags %}
{% load bootstrap3 %}

{% block header %}
    <h2>Edit project - <a href="{% url 'ups:project' project.id %}">{{ project }}</a></h2>
{% endblock header %}

{% block content %}

    {% get_obj_perms request.user for project as "edit_project_perms" %}

    <form action="{% url 'ups:edit_project' project.id %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <input type="submit" name="ok" value="Save changes" class="btn btn-primary"/>
            <input type="submit" name="cancel" value="Cancel" class="btn btn-primary"/>

            {% if "delete_project" in edit_project_perms %}
                <hr>
                <input type="submit" name="delete" value="Delete" class="btn btn-primary"/>
            {% endif %}
        {% endbuttons %}
    </form>

{% endblock content %}