{% extends "ups/base.html" %}
{% load guardian_tags %}
{% load bootstrap3 %}

{% block header %}
    <br>
    <h2>Edit profile settings</h2>
{% endblock header %}

{% block content %}
    <form onsubmit="show_loader()" method="post" class="form" action="{% url 'ups:profile'%}">
        {% csrf_token %}
        <div class="col-sm-2">{% bootstrap_form form %}</div>
        <div class="col-sm-12 row">
            <input type="submit" name="ok" value="Save changes" class="btn btn-primary"/>
            <a title="Close this window"   class="btn btn-primary" onclick="window.close();">Close</a>
        </div>
    </form>
{% endblock content %}