{% extends "ups/base.html" %}
{% load guardian_tags %}
{% load bootstrap3 %}

{% block header %}
    <br>
    <h2>Edit standalone-full.xml on {{server.name}}</h2>
{% endblock header %}

{% block content %}

    <form onsubmit="show_loader()" action="{% url 'ups:edit_standalone' server.id %}?{{info}}" method='post'>

        {% bootstrap_form form %}
        {% csrf_token %}

        <input onclick="show_loader()" type="submit" name="ok" value="Save changes" class="btn btn-primary"/>
        <a class="btn btn-primary" href="{% url 'ups:project' project.id %}?{{info}}">Cancel</a>
    </form>

{% endblock content %}