{% extends "ups/base.html" %}
{% load guardian_tags %}
{% load bootstrap3 %}

{% block header %}
    <br>
    <h2>Edit project - <a href="{% url 'ups:project' project.id %}">{{ project }}</a></h2>
{% endblock header %}

{% block content %}

    {% get_obj_perms request.user for project as "edit_project_perms" %}

    <form onsubmit="show_loader()" action="{% url 'ups:edit_project' project.id %}?{{info}}" method='post'>

        {% bootstrap_form form %}
        {% csrf_token %}

        <input type="submit" name="ok" value="Save changes" class="btn btn-primary"/>
        <a class="btn btn-primary" href="{% url 'ups:projects' %}">Cancel</a>

        {% if "delete_project" in edit_project_perms %}
            <hr>
            <input type="submit" name="delete" value="Delete" class="btn btn-danger"/>
        {% endif %}
    </form>

{% endblock content %}