
<div class="text-center">
    <nav aria-label="...">
        <ul class="pagination">
            {% if history.now.has_previous %}
                <li>
                    <a href="?page=1{{filter.url}}"
                       title="Go to the first page">first</a>
                </li>
                <li>
                    <a href="?page={{history.now.previous_page_number}}{{filter.url}}"
                       title="Go to the previous page">prev</a>
                </li>
            {% endif %}

            {% for a in history.back %}
                <li>
                    <a href="?page={{a}}{{filter.url}}"
                       title="Go to the page number {{a}}">{{a}}</a>
                </li>
            {% endfor %}

            <!--Current-->
            <li class="active">
                <a href="?page={{history.now.number}}{{filter.url}}">
                    {{history.now.number}}
                </a>
            </li>

            {% for a in history.forward %}
                <li>
                    <a href="?page={{a}}{{filter.url}}"
                       title="Go to the page number {{a}}">{{a}}</a>
                </li>
            {% endfor %}

            {% if history.now.has_next %}
                <li>
                    <a href="?page={{history.now.next_page_number}}{{filter.url}}"
                       title="Go to the next page">next</a>
                </li>
                <li>
                    <a href="?page={{history.now.paginator.num_pages}}{{filter.url}}"
                       title="Go to the last page({{history.now.paginator.num_pages}})">
                       last({{history.now.paginator.num_pages}})</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>