{% extends "ups/base.html" %}
{% load guardian_tags %}

{% block header %}
    <title>UpS: {{project}} history log</title>
    {% get_obj_perms request.user for project as "hist_perms" %}
{% endblock header %}

{% block content %}
    <div class="hidden">
        <input id="id_server_info"/><input id="id_script_info"/>
        <input id="id_update_info"/><input id="id_dbdump_info"/>
        <input id="id_job_info"/>
    </div>

    <form action="{% url 'ups:history' project.id %}" method='GET' id="selector">{% csrf_token %}

        <div class="row">
            <div class="col-md-2"><h4 class="Name">{{project}} history</h4></div>
            <div class="col-md-10">
                <div class="input-group hist-filter">
                    <div class="input-group-btn">
                        <input id="dat1"
                               type="text"
                               name="dat1"
                               title="Start date"
                               class="form-control"
                               value="{{filter.dat1}}"
                               placeholder="Date start"
                               onfocus="(this.type='date')">
                        <input id="dat2"
                               type="text"
                               name="dat2"
                               title="End date"
                               class="form-control"
                               placeholder="Date end"
                               value="{{filter.dat2}}"
                               onfocus="(this.type='date')">
                        <input id="name"
                               name="name"
                               title="Event name"
                               class="form-control"
                               value="{{filter.name}}"
                               placeholder="Event name">
                        <input id="user"
                               name="user"
                               title="User name"
                               class="form-control"
                               placeholder="User name"
                               value="{{filter.user}}">
                        <input id="serv"
                               name="serv"
                               title="Server name"
                               class="form-control"
                               value="{{filter.serv}}"
                               placeholder="Server name">

                        <!-- Hidden submit button -->
                        <button class="hidden">submit</button>

                        <!-- Dropdown using dropdown-toggle class -->
                        <button data-toggle="dropdown"
                                title="Filter by server name"
                                class="btn btn-primary dropdown-toggle">Srv <span class="caret"></span></button>

                        <!-- Dropdown list items -->
                        <ul class="dropdown-menu dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="javascript:;" onclick="filter_by('serv', '')"              >All </a></li>

                            <li class="divider"></li>

                            <li><a href="javascript:;" onclick="filter_by('serv', 'dev|дев|разраб')">Dev </a></li>
                            <li><a href="javascript:;" onclick="filter_by('serv', 'test|тест')"     >Test</a></li>
                            <li><a href="javascript:;" onclick="filter_by('serv', 'prod|прод')"     >Prod</a></li>
                            <li><a href="javascript:;" onclick="filter_by('serv', 'demo|демо')"     >Demo</a></li>

                            <li class="divider"></li>

                            {% for SRV in servers %}
                                <li><a href="javascript:;" onclick="filter_by('serv', '{{SRV}}')">{{SRV}}</a></li>
                            {% endfor %}
                        </ul>
                        <button type="submit"
                                title="Filter"
                                class="btn btn-primary"><span class="glyphicon glyphicon-filter"></span></button>
                        <button type="button"
                                title="Reset filter"
                                onclick="window.location.replace('?dat1=&dat2=&name=&user=&serv=');"
                                class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% if history.now %}
        {% include "ups/history_paginator.html" %}
    {% endif %}

    {% for event in history.now %}

        <dl class="dl-horizontal {% if event.cron and event.exit == '0' %} cron
                               {% elif event.exit and event.exit != '0' %} danger {% endif %}">
            {% if event.serv %}<dt>Server name</dt><dd>{{event.serv}}</dd>{% endif %}
                               <dt> Event name</dt><dd>{{event.name}}</dd>
            {% if event.cron %}<dt>  Cron name</dt><dd>{{event.cron}}</dd>
                               <dt>  Cron date</dt><dd>{{event.cdat|capfirst}}</dd>{% endif %}
                               <dt>  Event log</dt><dd class="log">{{event.desc|safe}}</dd>
                               <dt> Error code</dt><dd>{{event.exit}}</dd>

                               <dt class="small">User</dt><dd class="small">{{event.user}}</dd>
                               <dt class="small">Date</dt><dd class="small">{{event.date|date:'M d, Y H:i'}}</dd>
            {% if event.http and "run_command" in hist_perms and not event.cron %}
                <dt></dt><dd><div class="row">
                    <a target="_blank"
                       href="{{event.http}}"
                       title="Repeat {{event.name|lower}} on server {{event.serv}}"
                       class="btn btn-primary btn-sm">Repeat</a>
                </div></dd>
            {% endif %}
        </dl>

        <hr>

    {% empty %}
        <br>There are no events in history of this project.
    {% endfor %}

    {% if history.now %}
        {% include "ups/history_paginator.html" %}
    {% endif %}

{% endblock content %}