{% extends "ups/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <title>Update Server</title><br>
    <div class='jumbotron' onclick="location.href='{% url 'ups:projects' %}'">
       <h2><a href="{% url 'ups:projects' %}">Projects</a></h2>
    </div>
{% endblock header %}

{% block content %}

    <p>
        <big>Manage your servers through ssh via web interface.</big>
    </p>
    <p>
        Start by pressing an <i>'Projects'</i> button or a <i>'Projects'</i> link at the top.<br>
        Select project by clicking on it. Or create a new one via <i>'Add new project'</i> link.<br>
        In the project section navigate using tabs: <i>'Main'</i>, <i>'Cron Jobs'</i> and <i>'History'</i>.
    </p>
    <p>
        On the <i>'Main'</i> tab you can view, select and edit or add new updates, scripts or servers.<br>
    </p>
    <p>
        On the <i>'Cron Jobs'</i> tab you can view cron jobs scheduled for this project.<br>
        You can select them via click or by pressing <i>'Select All Jobs'</i> button.<br>
        And cancel them by pressing <i>'Cancel job'</i> button.
    </p>
    <p>
        On the <i>'History'</i> tab you can view history log. Events ended with errors marked red.
    </p>
    <p>
        <i>'Add'</i> and <i>'Select'</i> buttons duplicated at the bottom nav bar.<br>
        Available commands are located in <i>'RUN'</i> or <i>'CRON'</i> drop-up menus.<br>
        If you select command from <i>'RUN'</i> it'll start immediately.<br>
        Same command but from <i>'CRON'</i> menu will be scheduled to run via cron.<br>
        Date and time can be set via date\time widget. Have fun!)<br>
    </p>

{% endblock content %}