{% extends "ups/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <br>
    <div class='jumbotron' onclick="location.href='{% url 'ups:projects' %}'">
       <h2><a href="{% url 'ups:projects' %}">Projects</a></h2>
    </div>
{% endblock header %}

{% block content %}

    <p>
        <big>Update Server helps to keep your servers up to date.</big>
    </p>
    <p>
        Start by pressing an <i>'Projects'</i> button or a <i>'Projects'</i> link at the top.<br>
        Select project by clicking on it. Or create a new one via <i>'Add new project'</i> link.<br>
        In the project section navigate using tabs: <i>'Updates & Servers'</i>, <i>'Cron Jobs'</i> and <i>'History'</i>.
    </p>
    <p>
        On the <i>'Updates & Servers'</i> tab you can view, select and add new Updates & Servers.<br>
        <i>'Edit'</i> link brings you the edit form for the selected object.
    </p>
    <p>
        On the <i>'Cron Jobs'</i> tab you can view cron jobs scheduled for this project.<br>
        You can select them via click or by pressing <i>'Select All Jobs'</i> button.<br>
        And cancel them by pressing <i>'Cancel job'</i> button.
    </p>
    <p>
        On the <i>'History'</i> tab you can view history log. Events ended with errors marked red.
    </p>
    <p>
        <i>'Add'</i> and <i>'Select'</i> buttons duplicated at the bottom nav bar.<br>
        <i>'Copy Update(s) to Server(s)'</i> button starts copy process.<br>
        Selected updates will be copied to the selected servers.<br>
        If you select date and time then the 'Copy Update(s) to Server(s)'
        button will <i>schedule</i> this job instead of running it right now.<br>
        <i>'View server's log'</i> brings you the system log of the selected server.
    </p>

{% endblock content %}