{% extends "ups/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <br>
    <h2>Add new server to the project - <a href="{% url 'ups:project' project.id %}">{{ project }}</a></h2>
    After adding the server run <i>'info'</i> command on this server to register it in ssh known_hosts.
{% endblock header %}

{% block content %}

    <form action="{% url 'ups:new_server' project.id %}?{{info}}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button class="btn btn-primary" name='submit'>Add Server</button>
            <!--<a class="btn btn-primary" href="{% url 'ups:project' project.id %}?{{info}}">Cancel</a>-->
            <a class="btn btn-primary" onclick="window.history.back();">Cancel</a>
        {% endbuttons %}
    </form>

{% endblock content %}