{% extends "ups/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Add a new update to project - <a href="{% url 'ups:project' project.id %}">{{ project }}</a></h2>
{% endblock header %}

{% block content %}

    <form action="{% url 'ups:new_update' project.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name='submit' class="btn btn-primary">Add Update</button>
            <button onclick="window.history.back();" class="btn btn-primary">Cancel</button>
        {% endbuttons %}
    </form>

{% endblock content %}