{% extends "ups/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <br>
    <h2>Add new script to the project - <a href="{% url 'ups:project' project.id %}">{{project}}</a></h2>
{% endblock header %}

{% block content %}

    <form method="post"
          onsubmit="show_loader()"
          enctype="multipart/form-data"
          action="{% url 'ups:add_script' project.id %}?{{info}}">

          {% bootstrap_form form %}
          {% csrf_token %}

          <button class="btn btn-primary" name='submit'>Add Script</button>
          <a class="btn btn-primary" href="{% url 'ups:project' project.id %}?{{info}}">Cancel</a>
    </form>

{% endblock content %}