{% extends "ups/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <br>
    <h2>Add new script to the project - <a href="{% url 'ups:project' project.id %}">{{project}}</a></h2>
{% endblock header %}

{% block content %}

    <form action="{% url 'ups:new_script' project.id %}?{{info}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button class="btn btn-primary" name='submit'>Add Script</button>
            <a class="btn btn-primary" href="{% url 'ups:project' project.id %}?{{info}}">Cancel</a>
        {% endbuttons %}
    </form>

{% endblock content %}