<!-- Нижняя статическая навигационная панель -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar_bottom"
                aria-expanded="false" aria-controls="navbar_bottom">
            </button>
        </div>

        <div id="navbar_bottom" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'ups:projects' %}">Projects</a></li>
                {% if project %}
                    <li><a href="{% url 'ups:project' project.id %}">{{project}}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    <!--Up and down navigation-->
                    <li><input class="btn btn-default navbar-btn"
                               title="Go to top of the page."
                               onclick="go_up()"
                               type="button"
                               value="Up"/></li>

                    <li><input class="btn btn-default navbar-btn"
                               title="Go to bottom of the page."
                               onclick="go_down()"
                               type="button"
                               value="Down"/></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>