{% load bootstrap3 %}

<dl class="dl-horizontal output" id="output_log">
    <dt>Event logs</dt><dd><tt>{% for string in log %}{{ string|linebreaks }}{% endfor %}</tt></dd>
    <dt>Error code</dt>
    <dd>
        {% for num in err %}
            {{ num }}
            <script type="text/javascript">
                var body = document.getElementById('output_log');
                if ({{ num }} != '0') { body.style.background = '#f2dede'; }
            </script>
        {% endfor %}
    </dd>
</dl>