<script type="text/javascript">

    var err = {{ err }};
    if (err >= 0) { log_ready = true; }
    var body = document.getElementById('output_log');
    if (err > 0) { body.style.background = '#f2dede'; }

</script>

<dl class="dl-horizontal" id="output_log">
    <dt>Event logs</dt><dd><tt>{{ log|safe|linebreaks }}</tt></dd>
    {% if err >= 0 %}
        <dt>Error code</dt><dd>{{ err }}</dd>
        <dt><br><a class="btn btn-primary" href="">OK</a></dt>
    {% else %}
        <dd><div class="small_loader"></div></dd>
    {% endif %}
</dl>

<br><br><br><br><br>