{% extends "ups/base.html" %}
{% load bootstrap3 %}

{% block content %}

    <script type="text/javascript">
        function topFunction() {
            document.body.scrollTop = 0; // For Chrome, Safari and Opera
            document.documentElement.scrollTop = 0; // For IE and Firefox
        }

        function autoRefresh_div() {
            $("#log").load("/logs");
        }

        $(document).ready(function() {
        	setInterval(function() { autoRefresh_div(); }, 2000);
        	autoRefresh_div();
        });
    </script>

    <br>
    <div id="log"></div>
    <br>

    <br> <br> <br> <br>

    {% include "ups/output_bottom_panel.html" %}

{% endblock content %}