<!-- Bottom navigation panel -->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar_bottom"
                aria-expanded="false" aria-controls="navbar_bottom">
            </button>
        </div>

        <div id="navbar_bottom" class="navbar-collapse collapse">

            <!-- Buttons by the right side -->
            <ul class="nav navbar-nav col-sm-5">
                {% include "ups/project_bottom_panel_right.html" %}
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>