{% load bootstrap3 %}

<div class="row">

    <div class="col-sm-5"> <!--Script filter-->

        <div class="input-group">
            <div class="input-group-btn">
                <button class="btn btn-info btn-sm" tabindex="-1">Filter</button>
                <!-- Dropdown using dropdown-toggle class -->
                <button type="button" class="btn btn-info btn-sm dropdown-toggle"
                    data-toggle="dropdown" tabindex="-1">
                    List <span class="caret"></span><!-- caret -->
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <!-- Dropdown list items -->
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;" onclick="filter_by('id_servers', '')"         >All </a></li>
                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'prod|прод')">Prod</a></li>
                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'test|тест')">Test</a></li>

                    <li class="divider"></li>

                    {% for SRV in servers %}
                        <li><a href="javascript:;" onclick="filter_by('id_servers', '{{SRV}}')">{{SRV}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% bootstrap_form servers_filter size="small" %}
        </div>

    </div> <!--Script filter end-->

    <div class="col-sm-7">

    {% if "run_command" in pr_view_perms %}
        {% if servers %}
            <div class="btn-group">
                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Commands
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">

                    <li><a title="Select all servers."
                           onclick="select_all('selected_servers', 'script-body', true,  'SS')"
                           href="javascript:;">Select All</a></li>

                    <li><a title="Deselect all servers."
                           onclick="select_all('selected_servers', 'script-body', false, 'SS')"
                           href="javascript:;">Deselect All</a></li>

                    <li class="divider"></li>

                    <li><a onclick="run_or_cron('RUN');
                                    return Validation('server_info', true, false, false, false, false, false)"
                           title="Show system info: CPU, mem, disk etc."
                           href="javascript:;">Summary server info</a></li>

                    <li><a onclick="run_or_cron('RUN');
                                    return Validation('check_updates', true, false, false, false, false, false)"
                           title="Check updates on selected server(s)."
                           href="javascript:;">Check updates</a></li>

                    <li><a onclick="run_or_cron('RUN');
                                    return Validation('get_logs_day', true, false, false, false, false, false)"
                           title="Get day logs from selected server(s)."
                           href="javascript:;">Get day logs</a></li>

                    <li><a onclick="run_or_cron('RUN');
                                    return Validation('get_logs_all', true, false, false, false, false, false)"
                           title="Get all logs from selected server(s)."
                           href="javascript:;">Get all logs</a></li>

                    <li><a onclick="run_or_cron('RUN');
                                    return Validation('check_logs', true, false, false, false, false, false)"
                           title="Check logs on selected server(s)."
                           href="javascript:;">Check logs</a></li>

                    <li><a onclick="run_or_cron('RUN');
                                    return Validation('check_conf', true, false, false, false, false, false)"
                           title="Show conf(standalone-full.xml) and java options of selected server(s)."
                           href="javascript:;">Check conf</a></li>

                    <li><a onclick="run_or_cron('RUN');
                                    return Validation('tunnel', true, false, false, false, false, false)"
                           title="Make ssh tunnel to the bind port of selected server(s)."
                           href="javascript:;">Tunnel</a></li>

                    <li class="divider"></li>

                    <li><a onclick="return Validation('stop', true, false, false, false, false, true)"
                           title="Stop selected server(s)."
                           href="javascript:;"
                           class="danger">Stop</a></li>

                    <li><a onclick="return Validation('start', true, false, false, false, false, true)"
                           title="Start selected server(s)."
                           href="javascript:;"
                           class="danger">Start</a></li>

                    <li><a onclick="return Validation('restart', true, false, false, false, false, true)"
                           title="Restart selected server(s)."
                           href="javascript:;"
                           class="danger">Restart</a></li>

                    <li><a onclick="return Validation('reload', true, false, false, false, false, true)"
                           title="Reload config on selected server(s)."
                           href="javascript:;"
                           class="danger">Reload</a></li>

                    <li class="divider"></li>

                    <li><a onclick="return Validation('maintenance_on', true, false, false, false, false, true)"
                           title="Show 'Maintenance' page on selected server(s)."
                           href="javascript:;"
                           class="danger">Maintenance ON</a></li>

                    <li><a onclick="return Validation('maintenance_off', true, false, false, false, false, true)"
                           title="Hide 'Maintenance' page on selected server(s)."
                           href="javascript:;"
                           class="danger">Maintenance OFF</a></li>

                    <li class="divider"></li>

                    <li><a onclick="return Validation('backup_full', true, false, false, false, false, false)"
                           title="System and DB backup via './krupd bkp full'."
                           href="javascript:;">Backup full</a></li>

                    <li><a onclick="return Validation('backup_db', true, false, false, false, false, false)"
                           title="Database backup via './krupd bkp db'."
                           href="javascript:;">Backup base</a></li>

                    <li><a onclick="return Validation('backup_sys', true, false, false, false, false, false)"
                           title="System backup via './krupd bkp sys'."
                           href="javascript:;">Backup system</a></li>

                    <li class="divider"></li>

                    <li><a onclick="return Validation('copy_utils', true, false, false, false, false, false)"
                           title="Copy utils folder to selected server(s)."
                           href="javascript:;">Copy utils</a></li>

                    <li class="divider"></li>

                    <li><a title="Add new server."
                           href="{% url 'ups:new_server' project.id %}?{{info}}">Add server</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <input id="sshow"
                       type="button"
                       value="Show Info"
                       title="Show servers' info."
                       class="btn btn-info btn-sm"
                       onclick="show_or_hide('id_server_info', 'server-panel', 'sshow')"/>
            </div>

        {% endif %}

    {% endif %}

    {% if "add_server" in pr_view_perms %}
        <div class="btn-group">
            <a title="Add new server."
               class="btn btn-success btn-sm"
               href="{% url 'ups:new_server' project.id %}?{{info}}">Add</a>
        </div>
    {% endif %}

    </div>
</div>