{% include "ups/project_cron_buttons.html" %}

<div class="roller"  id="cron_roller">

    {% for job in jobs_filtered %}

        <div id="jb{{job.id}}"
             class="panel panel-default job-body"
             onclick="selector('jx{{job.id}}',
                               'jb{{job.id}}',
                               '{{job}} on {{job.serv|truncatechars:50}} {{job.cdat}}', 'SJ')">

            <div class="panel-heading">
                <h4 class="inline" title="{{job.desc}}&#xA;{{job.cdat}}">
                    <!--Select server by click on its name in cron job heading-->
                    {{job}} on <a href="javascript:;"
                                  onclick="selector('jx{{job.id}}',
                                                    'jb{{job.id}}',
                                                    '{{job}} on {{job.serv|truncatechars:50}} {{job.cdat}}', 'SJ');
                                           selector('sx{{job.serv.id}}',
                                                    'sb{{job.serv.id}}',
                                                    '{{job.serv}}', 'SS')">
                    <strong>{{job.serv|truncatechars:50}}</strong></a> <small>{{job.cdat}}</small>
                </h4>
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal job-panel" id="jp{{job.id}}">
                    {% if job.perm %}
                        <dt>Permanent</dt><dd>{{job.perm}}</dd>
                        <script type="text/javascript">
                            document.getElementById('jb{{job.id}}').classList.add('panel-info');
                        </script>
                    {% endif %}
                    <dt>Description</dt><dd>{{job.desc|linebreaks}}</dd>
                    <dt><big>Start date</big></dt><dd><big>{{job.cdat}}</big></dd>
                    <dt class="small">Creation date</dt><dd class="small">{{job.date|date:'M d, Y H:i'}}</dd>
                    <dt class="small">User</dt><dd class="small">{{job.user}}</dd>
                </dl>
                <!--Individual visibility buttons-->
                <span id="jh{{job.id}}"
                      title="Show\Hide this cron job info"
                      class="glyphicon glyphicon-menu-down jshow right"
                      onclick="show_or_hide_this('jh{{job.id}}', 'jp{{job.id}}');
                               selector('jx{{job.id}}',
                                        'jb{{job.id}}',
                                        '{{job}} on {{job.serv|truncatechars:50}} {{job.cdat}}', 'SJ')">
                </span>
            </div>

        </div>

        {% if "run_command" in pr_view_perms %}
            <!--Hidden checkboxes-->
            <input class="hidden"
                   type="checkbox"
                   id="jx{{job.id}}"
                   name="selected_jobs"
                   value="{{job.cron}}"
                   data-target="{{job}} on {{job.serv|truncatechars:50}} {{job.cdat}}"/>
        {% endif %}

    {% empty %}
        There are no cron jobs for this project yet.
    {% endfor %}

    <br><br>

</div>