{% load bootstrap3 %}

<div class="row">

    <div class="input-group">

        <div class="input-group-btn">

            <!--Updates label-->
            <a class="btn btn-primary btn-sm disabled">Updates</a>

            <!--Add new update button-->
            {% if "add_update" in pr_view_perms %}
                <a title="Add new update"
                   class="btn btn-success btn-sm"
                   href="{% url 'ups:new_update' project.id %}?{{info}}">Add</a>
            {% endif %}

            <!--Info visibility button-->
            <input id="ushow"
                   type="button"
                   value="Info Off"
                   title="Show\Hide updates info"
                   class="btn btn-info btn-sm"
                   onclick="show_or_hide_all('id_update_info', 'update-panel', 'ushow')"/>

            <!-- Hidden submit button -->
            <button class="hidden">submit</button>

            <!-- Dropdown using dropdown-toggle class -->
            <button data-toggle="dropdown"
                    title="Filter updates by current date or name"
                    class="btn btn-info btn-sm dropdown-toggle">Filter <span class="caret"></span></button>

            <!-- Dropdown list items -->
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="javascript:;" onclick="filter_by('id_updates', '')">All</a></li>

                <li class="divider"></li>

                <li><a href="javascript:;"
                       onclick="filter_by('id_updates',
                               '{%now 'd-m-Y'%}|{%now 'd.m.Y'%}|{%now 'Y.m.d'%}|{%now 'Y-m-d'%}')">Current date</a></li>

                <li class="divider"></li>

                {% for UPD in updates %}
                    <li><a href="javascript:;" onclick="filter_by('id_updates', '{{UPD}}')">{{UPD}}</a></li>
                {% endfor %}

                <li><br><br><br></li>
            </ul>

        </div>

        {% bootstrap_form updates_filter size="sm" %}

    </div>

</div>