{% extends "ups/base.html" %}
{% load guardian_tags %}
{% load bootstrap3 %}

{% block header %}
    <title>UpS: {{project}}</title>
{% endblock header %}

{% block content %}

    {% get_obj_perms request.user for project as "pr_view_perms" %}

    <p>
        <div id="SU"></div> <!-- Selected updates list -->
        <div id="SS"></div> <!-- Selected servers list -->
        <div id="SX"></div> <!-- Selected scripts list -->
        <div id="SJ"></div> <!-- Selected crnjobs list -->
        <div id="SD"></div> <!-- Selected dbdumps list -->
    </p>

    <div class="col-sm-2">
        <h2 class="inline" title="{{project.desc}}">{{project}}</h2>
        {% if "edit_project" in pr_view_perms %}
            <a href="{% url 'ups:edit_project' project.id %}?{{info}}" class="Edit">Edit</a>
        {% endif %}
    </div>

    <form method='GET' action="{% url 'ups:project' project.id %}" id="selector">
        {% csrf_token %}

        <div class="hidden">
            {% bootstrap_form hide_info_form %}
            <input name="dummy"            id="dummy"/>
            <input name="run_type"         id="run_type"/>
            <input name="selected_command" id="selected_command"/>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">

            <li role="presentation" class="active">
                <a title="Projects scripts and servers"
                   href="#scripts" aria-controls="scripts" role="tab" data-toggle="tab"
                   onclick="show_or_hide_all('dummy', 'servers_tab', 'dummy', 'show')">Scripts</a>
            </li>

            <li role="presentation">
                <a title="Projects updates and servers"
                   href="#updates" aria-controls="updates" role="tab" data-toggle="tab"
                   onclick="show_or_hide_all('dummy', 'servers_tab', 'dummy', 'show')">Updates</a>
            </li>

            <li role="presentation">
                <a title="Projects dumps and servers"
                   href="#dumps" aria-controls="dumps" role="tab" data-toggle="tab"
                   onclick="show_or_hide_all('dummy', 'servers_tab', 'dummy', 'show')">Dumps</a>
            </li>

            {% if "run_command" in pr_view_perms %}
                <li role="presentation">
                    <a title="Projects cron jobs"
                       href="#cron" aria-controls="cron" role="tab" data-toggle="tab"
                       onclick="show_or_hide_all('dummy', 'servers_tab', 'dummy', 'hide')">Cron Jobs</a>
                </li>

                <li role="presentation">
                    <a title="Projects history log"
                       href="#history" aria-controls="history" role="tab" data-toggle="tab"
                       onclick="show_or_hide_all('dummy', 'servers_tab', 'dummy', 'hide')">History</a>
                </li>
            {% endif %}

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane in active" id="scripts">
                <div class="col-sm-2">
                    {% if "run_command" in pr_view_perms %}
                        {% include "ups/commands_list_scripts.html" %}
                    {% endif %}
                </div>
                <div class="col-sm-5">
                    {% include "ups/project_scripts.html" %}
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="updates">
                <div class="col-sm-2">
                    {% if "run_command" in pr_view_perms %}
                        {% include "ups/commands_list_updates.html" %}
                    {% endif %}
                </div>
                <div class="col-sm-5">
                    {% include "ups/project_updates.html" %}
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="dumps">
                <div class="col-sm-2">
                    {% if "run_command" in pr_view_perms %}
                        {% include "ups/commands_list_dumps.html" %}
                    {% endif %}
                </div>
                <div class="col-sm-5">
                    {% include "ups/project_dumps.html" %}
                </div>
            </div>

            {% if "run_command" in pr_view_perms %}
                <div role="tabpanel" class="tab-pane" id="cron">
                    <div class="col-sm-2">{% include "ups/commands_list_cron.html" %}</div>
                    <div class="col-sm-10">{% include "ups/project_cron.html" %}</div>
                </div>

                <div role="tabpanel" class="tab-pane" id="history">
                    {% include "ups/project_history.html" %}
                </div>
            {% endif %}

        </div>

        <div class="col-sm-5 servers_tab">
            {% include "ups/project_servers.html" %}
        </div>

        {% include "ups/project_bottom_panel.html" %}
    </form>

{% endblock content %}