{% load bootstrap3 %}

<div class="row">
    <div class="input-group">
        <div class="input-group-btn">

            <!--Servers label-->
            <a class="btn btn-primary btn-sm disabled">Servers</a>

            <!--Add new server button-->
            {% if "add_server" in pr_view_perms %}
                <a title="Add new server"
                   class="btn btn-success btn-sm"
                   href="{% url 'ups:new_server' project.id %}?{{info}}">Add</a>
            {% endif %}

            {% if servers %}
            
                <!--Select\deselect button-->
                <div class="dropdown btn-group">
                    <button data-toggle="dropdown"
                            title="Select\deselect servers"
                            class="btn btn-info btn-sm dropdown dropdown-toggle">Slct <span class="caret"></span>
                    </button>

                    <ul class="dropdown dropdown-menu dropdown-menu">
                        <li><a href="javascript:;"
                               title="Select all servers"
                               onclick="select_all('selected_servers', 'server-body', true,  'SS')">Select all</a>
                        </li>
                        <li><a href="javascript:;"
                               title="Deselect all servers"
                               onclick="select_all('selected_servers', 'server-body', false, 'SS')">Deselect all</a>
                        </li>
                    </ul>
                </div>
            
                <!--Info visibility button-->
                <input id="sshow"
                       type="button"
                       value="Info Off"
                       title="Show\Hide servers info"
                       class="btn btn-info btn-sm"
                       onclick="show_or_hide_all('id_server_info', 'server-panel', 'sshow')"/>

                <!-- Hidden submit button -->
                <button class="hidden">submit</button>

                <!-- Dropdown using dropdown-toggle class -->
                <button data-toggle="dropdown"
                        title="Filter servers by type or name"
                        class="btn btn-info btn-sm dropdown-toggle">Fltr <span class="caret"></span></button>

                <!-- Dropdown list items -->
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="javascript:;" onclick="filter_by('id_servers', '')"              >All </a></li>

                    <li class="divider"></li>

                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'dev|дев|разраб')">Dev </a></li>
                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'test|тест')"     >Test</a></li>
                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'prod|прод')"     >Prod</a></li>
                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'demo|демо')"     >Demo</a></li>

                    <li class="divider"></li>

                    <li><a href="javascript:;" onclick="filter_selected('id_servers', 'selected_servers')">Selected</a></li>

                    <li class="divider"></li>

                    {% for SRV in servers %}
                        <li><a href="javascript:;" onclick="filter_by('id_servers', '{{SRV}}')">{{SRV}}</a></li>
                    {% endfor %}
                </ul>

            {% endif %}

        </div>

        {% if servers %}
            {% bootstrap_form servers_filter size="sm" %}
        {% endif %}

    </div>
</div>