{% extends "ups/base.html" %}
{% load guardian_tags %}

{% block header %}
    <h1>Projects</h1>
{% endblock header %}

{% block content %}

    {% for project in projects %}
        {% get_obj_perms request.user for project as "project_perms" %}
        {% if "view_project" in project_perms %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <a href="{% url 'ups:project' project.id %}">{{ project }}</a>
                        </h3>
                        <small>
                            {{ project.desc|linebreaks }}
                        </small>
                    </div>
                </div> <!-- panel -->
        {% endif %}

        {% empty %}
        <li>
            There are no projects yet.
        </li>
    {% endfor %}

    {% if perms.ups.add_project %}
        <small>
            <a href="{% url 'ups:new_project' %}">Add new project</a>
        </small>
    {% endif %}

{% endblock content %}