{% load bootstrap3 %}

<br>
<div class="row">
    <div class="col-md-6">

        <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active">
                <a href="#scripts" aria-controls="scripts" role="tab" data-toggle="pill">Scripts</a>
            </li>
            <li role="presentation">
                <a href="#updates" aria-controls="updates" role="tab" data-toggle="pill">Updates</a>
            </li>
            <li role="presentation">
                <a href="#dumps" aria-controls="dumps" role="tab" data-toggle="pill">Dumps</a>
            </li>
        </ul>

    </div>

    <div class="col-md-6">
        <h4 class="right">Servers</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="tab-content">
            <div id="scripts" class="tab-pane in active">
                {% include "ups/project_scripts.html" %}
            </div>
            <div id="updates" class="tab-pane">
                {% include "ups/project_updates.html" %}
            </div>
            <div id="dumps" class="tab-pane">
                {% include "ups/project_dumps.html" %}
            </div>
        </div>

    </div>

    <div class="col-md-6">
        {% include "ups/project_servers.html" %}
    </div>
</div>