{% load bootstrap3 %}

<br>

<script type="text/javascript">
    function color(body_id, ec) {
        var body = document.getElementById(body_id);
        if (ec > 0) { body.style.background = '#f2dede'; }
    }
</script>

{% for event in history %}

    <dl class="dl-horizontal" id="event{{ event.id }}">
        <dt>Event date</dt>
        <dd>
            {% if event.cdat %}
                {{ event.cdat }}
            {% else %}
                {{ event.date|date:'M d, Y H:i' }}
            {% endif %}
        </dd>
        <dt>Event user</dt><dd>{{ event.user }}</dd>
        {% if event.cron %}
            <dt>Cron job id</dt><dd>{{ event.cron }}</dd>
        {% endif %}
        <dt>Event name</dt><dd>{{ event.name }}</dd>
        <dt>Event logs</dt><dd>{{ event.desc|linebreaks }}</dd>
        <dt>Error code</dt><dd>{{ event.exit }}</dd>
        <!--<dt><small>Date</small></dt><dd><small>{{ event.date|date:'M d, Y H:i' }}</small></dd>-->
    </dl>

    <style onload="color('event{{ event.id }}', '{{ event.exit }}')"></style>

    <hr>

{% empty %}
    There are no events in this project yet.

{% endfor %}

{% include "ups/project_history_paginator.html" %}