{% extends "ups/base.html" %}
{% load guardian_tags %}
{% load bootstrap3 %}

{% block header %}
    <title>UpS: select project</title><br>
    <h2>Projects</h2>
{% endblock header %}

{% block content %}

    {% for project in projects %}

        {% get_obj_perms request.user for project as "project_perms" %}

        {% if "view_project" in project_perms %}
            <div class="well" onclick="location.href='{% url 'ups:project' project.id %}'" >
                <div class="row">
                    <div class="col-md-2">
                        <h3 class="inline"><a href="{% url 'ups:project' project.id %}">{{ project }}</a></h3>
                        {% if "edit_project" in project_perms %}
                            <a href="{% url 'ups:edit_project' project.id %}?{{info}}" class="Edit">Edit</a>
                        {% endif %}
                    </div>
                    <div class="col-md-6"><small>{{ project.desc|linebreaks }}</small></div>
                </div>
            </div>
        {% endif %}

        {% empty %}
        <li>
            There are no projects yet.
        </li>
    {% endfor %}

    {% if perms.ups.add_project %}
        <small>
            <a href="{% url 'ups:new_project' %}">Add new project</a>
        </small>
    {% endif %}

{% endblock content %}