<!-- Нижняя статическая навигационная панель -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar_bottom"
                aria-expanded="false" aria-controls="navbar_bottom">
            </button>
        </div>

        <div id="navbar_bottom" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="{% url 'ups:projects' %}">Projects</a></li>-->
                {% if "add_update" in pr_view_perms or "add_server" in pr_view_perms %}
                    <li>
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle navbar-btn" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add
                                    <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% if "add_update" in pr_view_perms %}
                                    <li><a href="{% url 'ups:new_update' project.id %}">Add new update</a></li>
                                {% endif %}
                                {% if "add_server" in pr_view_perms %}
                                    <li><a href="{% url 'ups:new_server' project.id %}">Add new server</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% if "run_command" in pr_view_perms %}
                    <li>
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle navbar-btn" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select
                                    <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a href="#" onclick="select_all('selected_servers', 'server-body', true);
                                       select_all('selected_updates', 'update-body', true)">Select All</a></li>
                                <li><a href="#" onclick="select_all('selected_servers', 'server-body', false);
                                       select_all('selected_updates', 'update-body', false)">Deselect All</a></li>

                                <li role="separator" class="divider"></li>

                                <li><a href="#" onclick="select_all('selected_updates', 'update-body', true)">
                                    Select All Updates</a>
                                </li>
                                <li><a href="#" onclick="select_all('selected_updates', 'update-body', false)">
                                    Deselect All Updates</a>
                                </li>

                                <li role="separator" class="divider"></li>

                                <li><a href="#" onclick="select_all('selected_servers', 'server-body', true)">
                                    Select All Servers</a>
                                </li>
                                <li><a href="#" onclick="select_all('selected_servers', 'server-body', false)">
                                    Deselect All Servers</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li><input type="submit"
                               name="select_test"
                               value="Show selected"
                               class="btn btn-default navbar-btn"
                               onclick="return SelectValidation()"></li>

                    <li><input type="submit"
                               name="select_upload"
                               value="Copy"
                               class="btn btn-default navbar-btn"
                               onclick="return CopyValidation()"></li>


                    <!--Date picker-->
                    <li><div class="input-group date navbar-btn date-input" data-provide="datepicker">
                        <input type="text" class="form-control" name="selected_date" data-autoclose="true">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div></li>

                    <!--Clock picker-->
                    <li><div class="input-group clockpicker navbar-btn clock-input" data-placement="top"
                             data-align="top" data-autoclose="true">
                        <input type="text" class="form-control" name="selected_time">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <script type="text/javascript">
                        $('.clockpicker').clockpicker();
                    </script></li>

                    <!--<li><input type="submit" class="btn btn-default navbar-btn"-->
                               <!--name="select_check"    value="Check updates on servers"/></li>-->
                    <!--<li><input type="submit" class="btn btn-default navbar-btn"-->
                               <!--name="select_schedule" value="Check scheduled updates"/></li>-->
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><input type="submit"
                           name="select_logs"
                           value="View server's log"
                           class="btn btn-default navbar-btn"
                           onclick="return NameValidation('selected_servers')"></li>
                <li><input type="button" class="btn btn-default navbar-btn"
                           onclick="topFunction()" value="Top"/></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>