{% load bootstrap3 %}

<br>

{% buttons %}
    {% if "run_command" in pr_view_perms %}
        <input type="button" class="btn btn-info btn-xs" value="Select All"
               onclick="select_all('selected_updates', 'update-body', true)"/>
        <input type="button" class="btn btn-info btn-xs" value="Deselect All"
               onclick="select_all('selected_updates', 'update-body', false)"/>
    {% endif %}
    {% if "add_update" in pr_view_perms %}
        <a class="btn btn-success btn-xs" href="{% url 'ups:new_update' project.id %}">Add new update</a>
    {% endif %}
{% endbuttons %}

{% for update in updates %}

    <div class="panel panel-default" onclick="checker('update_box{{ update.id }}', 'update_body{{ update.id }}')">

        <div class="panel-heading">
            <h4 style="display:inline-block">{{ update }}</h4>
            {% if "edit_update" in pr_view_perms %}
                <small style="display:inline-block"><a href="{% url 'ups:edit_update' update.id %}">Edit</a></small>
            {% endif %}
        </div>

        <div class="panel-body update-body" id="update_body{{ update.id }}">
            <div class="pull-left">
                <dl class="dl-horizontal">
                    <!--<dt>File</dt><dd>{{ update.file }}</dd>-->
                    <dt>Description</dt><dd>{{ update.desc|linebreaks }}</dd>
                    <dt><small>Date added</small></dt><dd><small>{{ update.date|date:'M d, Y H:i' }}</small></dd>
                </dl>
            </div>

            {% if "run_command" in pr_view_perms %}
                <div class="pull-right">
                    <label>
                        Click to select
                        <input style="display:none" type="checkbox" name="selected_updates"
                               value="{{ update.id }}" id="update_box{{ update.id }}"/>
                    </label>
                </div>
            {% endif %}
        </div>

    </div> <!-- panel -->

{% empty %}

There are no updates for this project yet.

{% endfor %}

<br>