{% load bootstrap3 %}

<br>
<div class="row">
    <div class="col-md-3">
        <h3 class="Name">Scripts</h3>
    </div>
    <div class="col-md-9">
        {% include "ups/project_scripts_buttons.html" %}
    </div>
</div>

<div class="roller">
{% for script in scripts %}

    <div class="panel panel-default"
         onclick="selector('xx{{ script.id }}', 'xb{{ script.id }}', '{{ script }}', 'SX')">

        <div class="panel-heading">
            <h4 class="Name">{{ script }}</h4>
            {% if "edit_script" in pr_view_perms %}
                <a href="{% url 'ups:edit_script' script.id %}"
                   title="Edit this script."
                   class="Edit">Edit</a>
            {% endif %}
            {% if "run_command" in pr_view_perms %}
                {% include "ups/commands_scripts.html" %}
            {% endif %}
            {% if "dld_script" in pr_view_perms %}
                <a onclick="selector('xx{{ script.id }}', 'xb{{ script.id }}', '{{ script }}', 'SX')"
                   href="/download_script/{{ project.id }}/{{ script.id }}"
                   title="Download this script."
                   class="Edit">Download</a>
            {% endif %}
        </div>

        <div class="panel-body script-body" id="xb{{ script.id }}">
            <dl class="dl-horizontal script-panel">
                <!--<dt>File</dt><dd>{{ script.file }}</dd>-->
                <!--<dt>Size</dt><dd>{{ script.file.size|filesizeformat }}</dd>-->
                <dt>Description</dt><dd>{{ script.desc|linebreaks }}</dd>
                <dt>Preview</dt><dd>{{ script.body|linebreaks|truncatewords:10 }}</dd>
                <dt><small>Added by</small></dt><dd><small>{{ script.user }}</small></dd>
                <dt><small>Date added</small></dt><dd><small>{{ script.date|date:'M d, Y H:i' }}</small></dd>
            </dl>

            {% if "run_command" in pr_view_perms %}
                <!--Hidden checkboxes-->
                <input  class="hidden"
                        type="checkbox"
                        readonly="readonly"
                        id="xx{{ script.id }}"
                        name="selected_scripts"
                        value="{{ script.file }}"
                        data-target="{{ script }}"/>
            {% endif %}
        </div>

    </div> <!-- panel -->

{% empty %}
    There are no scripts for this project yet.
{% endfor %}
</div>