
<div class="roller"  id="logs_roller">

    <p></p>

    {% if allogs %}
        <div class="well well-sm"
             title="View all logs in one window"
             onclick="window.open('{{allogs}}', '_blank');">
             <strong>All running logs</strong>
        </div>
    {% endif %}

    {% for log in history %}
        {% if not log.cron %}
            <div class="mini_log">
                <iframe scrolling="no"
                        frameborder="no"
                        src="/mini_log/?cmd={{log.name}}&prid={{project.id}}&logid={{log.uniq}}">
                </iframe>
            </div>
        {% endif %}
    {% empty %}
        <br>Do something.
    {% endfor %}

</div>