
<div class="roller"  id="logs_roller">

    <p></p>

    {% if allogs %}
        <div class="well well-sm"
             title="View all logs in one window"
             onclick="window.open('{{allogs}}', '_blank');">
             <strong>All running logs</strong>
        </div>
    {% endif %}

    {% for log in running %}
        {% if log.serv and not log.cron %}
            <div class="mini_log">
                <iframe scrolling="no"
                        frameborder="no"
                        src="/mini_log/?cmd={{log.name}}&prid={{project.id}}&logid={{log.uniq}}">
                </iframe>
            </div>
        {% endif %}
    {% endfor %}

    {% if history %} <hr><strong>Logs history</strong><hr> {% endif %}

    {% for log in history %}
        {% if log.serv and log.exit and not log.cron %}

            <div title="Click to view full log
                        {{log.desc|striptags|truncatechars:500}}"
                 class="panel {% if log.exit and log.exit != '0' %} panel-danger {% else %} panel-success {% endif %}"
                 onclick="window.open('/command_log/?cmd={{log.name}}&prid={{project.id}}&logid={{log.uniq}}', '_blank');">

                <div class="panel-heading">
                    <nobr>{{log.name}}{% if log.serv %} on <strong>{{log.serv.name}}</strong> {% endif %}</nobr>
                </div>

                <div class="panel-body">{{log.date|date:'H:i'}}<div class="hint">click to view</div></div>

            </div>

        {% endif %}
    {% empty %}
        <br>Do something.
    {% endfor %}

</div>