{% load bootstrap3 %}

<br>

{% buttons %}
    {% include "ups/project_servers_buttons.html" %}
{% endbuttons %}

<div class="roller">
    {% for server in servers_filtered %}

        <div class="panel panel-default" onclick="selector('sx{{server.id}}', 'sb{{server.id}}', '{{server}}', 'SS')">

            <div class="panel-heading">
                <h4 class="Name" title="{{server.desc}}">{{server.name}}</h4>
                {% include "ups/commands_servers.html" %}
            </div>

            <div class="panel-body server-body" id="sb{{server.id}}">
                <dl class="dl-horizontal server-panel sp{{server.id}}">
                    <dt>Server address</dt><dd>{{server.addr}}</dd>
                    <dt>Working folder</dt><dd>{{server.wdir}}</dd>
                    <dt>Server bind port</dt><dd>{{server.port}}</dd>
                    <dt>Description</dt><dd>{{server.desc|linebreaks|urlize}}</dd>
                    <dt><small>Added by</small></dt><dd><small>{{server.user}}</small></dd>
                    <dt><small>Date added</small></dt><dd><small>{{server.date|date:'M d, Y H:i'}}</small></dd>
                </dl>
                {% if "run_command" in pr_view_perms %}
                    <!--Hidden checkboxes-->
                    <input class="hidden"
                           type="checkbox"
                           id="sx{{server.id}}"
                           value="{{server.id}}"
                           name="selected_servers"
                           data-target="{{server}}"/>
                {% endif %}
            </div>

        </div>

    {% empty %}
        There are no servers for this project yet.
    {% endfor %}

    <br><br>

</div>