<li> <!--Date picker-->
    <div class="input-group date navbar-btn date-input" data-provide="datepicker">
        <input type="text" class="form-control" name="selected_date" id="selected_date">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>
</li>

<li> <!--Clock picker-->
    <div class="input-group clockpicker navbar-btn clock-input"
         data-placement="top"
         data-align="top"
         data-autoclose="true"
         data-provide="clockpicker">
        <input type="text" class="form-control" name="selected_time" id="selected_time">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>

    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
</li>