<!-- Bottom navigation panel -->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar_bottom"
                aria-expanded="false" aria-controls="navbar_bottom">
            </button>
        </div>

        <div id="navbar_bottom" class="navbar-collapse collapse">


        </div><!--/.nav-collapse -->
    </div>
</nav>