{% extends "ups/base.html" %}

{% block content %}

    <p>Project: {{ project }}</p>
    <ul>
        <p>{{ project.desc|linebreaks }}</p>
    </ul>

    <p>
        <a href="{% url 'ups:edit_project' project.id %}">edit project</a>
    </p>

    <p>Updates:</p>
    <ul>
        {% for update in updates %}
            <li>
                <p>Filename: {{ update }}</p>
                <p>Description: {{ update.desc|linebreaks }}</p>
                <p>Added: {{ update.date|date:'M d, Y H:i' }}</p>
                <p><a href="{% url 'ups:edit_update' update.id %}">Edit update</a></p>
            </li>
            {% empty %}
            <li>
                There are no updates for this project yet.
            </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'ups:new_update' project.id %}">Add new update</a>
    </p>

    <p>Servers:</p>
    <ul>
        {% for server in servers %}
            <li>
                <p>Name: {{ server.name }}</p>
                <p>Address: {{ server.addr }}</p>
                <p>Description: {{ server.desc|linebreaks }}</p>
                <p>Added: {{ server.date|date:'M d, Y H:i' }}</p>
                <p><a href="{% url 'ups:edit_server' server.id %}">Edit server</a></p>
            </li>
            {% empty %}
            <li>
                There are no servers for this project yet.
            </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'ups:new_server' project.id %}">Add new server</a>
    </p>

    <p>Availible commands:</p>
    <button name="check">Check updates</button>
    <button name="upload">Upload updates</button>

{% endblock content %}