<!-- Buttons at by the right side -->
<ul class="nav navbar-nav navbar-right">

    {% if "run_command" in pr_view_perms %}

        <li><button onclick="return Validation('', 'true', '', '')"
                    class="btn btn-default navbar-btn blockUI"
                    name="selected_commands"
                    value="Check_updates"
                    type="submit">Check updates</button></li>

        <li><button onclick="return Validation('', 'true', '', '')"
                    class="btn btn-default navbar-btn blockUI"
                    name="selected_commands"
                    value="Check_logs"
                    type="submit">Check logs</button></li>
    {% endif %}

    <!--Divider-->
    <li><div class="col-md-6"></div><div class="divider-vertical"></div><div class="col-md-5"></div></li>

    <!--Up and down navigation-->
    <li><input class="btn btn-default navbar-btn"
               onclick="go_up()"
               type="button"
               value="Up"/></li>

    <li><input class="btn btn-default navbar-btn"
               onclick="go_down()"
               type="button"
               value="Down"/></li>

</ul>