{% load bootstrap3 %}

<div class="row">

    <div class="col-sm-7"> <!---| Server filter |--->

        <div class="input-group">
            <div class="input-group-btn">
                <button class="btn btn-info btn-sm" tabindex="-1">Filter</button>
                <!-- Dropdown using dropdown-toggle class -->
                <button type="button" class="btn btn-info btn-sm dropdown-toggle"
                    data-toggle="dropdown" tabindex="-1">
                    List <span class="caret"></span><!-- caret -->
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <!-- Dropdown list items -->
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;" onclick="filter_by('id_servers', '')"         >All </a></li>
                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'dev|дев')"  >Dev</a></li>
                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'test|тест')">Test</a></li>
                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'prod|прод')">Prod</a></li>
                    <li><a href="javascript:;" onclick="filter_by('id_servers', 'demo|демо')">Demo</a></li>

                    <li class="divider"></li>

                    {% for SRV in servers %}
                        <li><a href="javascript:;" onclick="filter_by('id_servers', '{{SRV}}')">{{SRV}}</a></li>
                    {% endfor %}

                    <li><br><br><br></li>
                </ul>

            </div>

            {% bootstrap_form servers_filter size="small" %}

        </div>

    </div> <!-----------------| Server filter end |--->

    <div class="col-sm-5"> <!---| Server commands |--->

        {% if servers %}

            <div class="btn-group">
                <input id="sshow"
                       type="button"
                       value="Info Off"
                       title="Show\Hide servers info."
                       class="btn btn-info btn-sm"
                       onclick="show_or_hide_all('id_server_info', 'server-panel', 'sshow')"/>
            </div>

        {% endif %} <!---| If servers exists |--->

        {% if "add_server" in pr_view_perms %}
            <div class="btn-group">
                <a title="Add new server."
                   class="btn btn-success btn-sm"
                   href="{% url 'ups:new_server' project.id %}?{{info}}">Add</a>
            </div>
        {% endif %}

    </div> <!---| Server commands end |--->

</div>