{% load bootstrap3 %}

{% include "ups/project_updates_buttons.html" %}

<div class="roller">
    {% for update in updates_filtered %}

        <div id="ub{{update.id}}"
             class="panel panel-default update-body"
             onclick="selector('ux{{update.id}}', 'ub{{update.id}}', '{{update}}', 'SU')">

            <div class="panel-heading">
                <h4 class="inline"
                    title="{{update.desc}} {{update.file.size|filesizeformat}}">{{update|truncatechars:50}}</h4>
                {% include "ups/commands_updates.html" %}
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal update-panel" id="up{{update.id}}">
                    <dt>       Description</dt><dd>{{update.desc|linebreaks}}</dd>
                    <dt>              Size</dt><dd>{{update.file.size|filesizeformat}}</dd>
                    <dt class="small">User</dt><dd class="small">{{update.user}}</dd>
                    <dt class="small">Date</dt><dd class="small">{{update.date|date:'M d, Y H:i'}}</dd>
                </dl>
                <!--Individual visibility check boxes-->
                <span id="uh{{update.id}}"
                      title="Show\Hide this update info."
                      class="glyphicon glyphicon-menu-down ushow right"
                      onclick="selector('ux{{update.id}}', 'ub{{update.id}}', '{{update}}', 'SU');
                               show_or_hide_this('uh{{update.id}}', 'up{{update.id}}')">
                </span>
            </div>

        </div>

        {% if "run_command" in pr_view_perms %}
            <!--Hidden checkboxes-->
            <input class="hidden"
                   type="checkbox"
                   id="ux{{update.id}}"
                   value="{{update.id}}"
                   name="selected_updates"
                   data-target="{{update}}"/>
        {% endif %}

    {% empty %}
        There are no updates for this project yet.
    {% endfor %}

    <br><br><br>

</div>
