<div class="text-center">
    <nav aria-label="...">
        <ul class="pagination">
            {% if history.has_previous %}
                <li><a href="?page=1#history">first</a></li>
                <li><a href="?page={{ history.previous_page_number }}#history">previous</a></li>
            {% endif %}

            {% for a in hist_bk %}
                <li><a href="?page={{ a }}#history">{{ a }}</a></li>
            {% endfor %}

            <!--Current-->
            <li class="active"><a href="?page={{ history.number }}#history">{{ history.number }}</a></li>

            {% for a in hist_fd %}
                <li><a href="?page={{ a }}#history">{{ a }}</a></li>
            {% endfor %}

            {% if history.has_next %}
                <li><a href="?page={{ history.next_page_number }}#history">next</a></li>
                <li><a href="?page={{ history.paginator.num_pages }}#history">last</a></li>
            {% endif %}
        </ul>
    </nav>
</div>