{% load bootstrap3 %}

{% buttons %}
    {% if "run_command" in pr_view_perms %}
        {% if scripts %}
            <input type="button"
                   value="Select All"
                   class="btn btn-info btn-xs"
                   title="Select all scripts."
                   onclick="select_all('selected_scripts', 'script-body', true,  'SX')"/>

            <input type="button"
                   value="Deselect All"
                   class="btn btn-info btn-xs"
                   title="Deselect all scripts."
                   onclick="select_all('selected_scripts', 'script-body', false, 'SX')"/>

            <input type="button"
                   value="Hide Info"
                   title="Hide scripts' info."
                   class="btn btn-info btn-xs xhide"
                   onclick="hide_info('script-info', '.script-panel', '.xhide', '.xshow')"/>

            <input type="button"
                   value="Show Info"
                   title="Show scripts' info."
                   class="btn btn-info btn-xs xshow"
                   onclick="show_info('script-info', '.script-panel', '.xshow', '.xhide')"/>
        {% endif %}

    {% endif %}

    {% if "add_script" in pr_view_perms %}
        <a title="Add new script."
           class="btn btn-success btn-xs"
           href="{% url 'ups:new_script' project.id %}">Add</a>
    {% endif %}

{% endbuttons %}