{% load bootstrap3 %}

<br>
<div class="col-md-6">

    <ul class="nav nav-pills nav-justified">
        <li class="active">
            <a data-toggle="pill" href="#scripts">Scripts</a>
        </li>

        <li>
            <a data-toggle="pill" href="#updates">Updates</a>
        </li>

        <li>
            <a data-toggle="pill" href="#dumps">Dumps</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="scripts" class="tab-pane in active">
            {% include "ups/project_scripts.html" %}
        </div>

        <div id="updates" class="tab-pane">
            {% include "ups/project_updates.html" %}
        </div>

        <div id="dumps" class="tab-pane">
            {% include "ups/project_dumps.html" %}
        </div>
    </div>

</div>

<div class="col-md-6">

    <div class="row">
        <div class="col-sm-7">

            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button name="server_all" value="server_all" class="btn btn-primary">All</button>
                </div>
                <div class="btn-group">
                    <button name="server_prd" value="server_prd" class="btn btn-primary">Prod</button>
                </div>
                <div class="btn-group">
                    <button name="server_tst" value="server_tst" class="btn btn-primary">Test</button>
                </div>
            </div>

        </div>
        <div class="col-sm-5">

            <div class="input-group">

                <span class="input-group-btn">
                    <button id="serfilter-bt"
                            name="server_ctm"
                            value="server_ctm"
                            class="btn btn-primary">Custom</button>
                </span>{% bootstrap_form serfltr %}

            </div>

        </div>
    </div>

    {% include "ups/project_servers.html" %}
</div>
