<li> <!--Run-->
    <div class="dropup">
        <button class="btn btn-default dropdown-toggle navbar-btn"
                id="dropdown_RUN"
                title="Run command."
                aria-expanded="false"
                data-toggle="dropdown"
                onclick="run_or_cron('RUN', 'CRON')">RUN<span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            aria-labelledby="dropdown_RUN">
            {% include "ups/commands_RUN.html" %}
            <li role="separator" class="divider"></li>
            {% include "ups/commands.html" %}
        </ul>
    </div>
</li>

<li> <!--Cron-->
    <div class="dropup">
        <button class="btn btn-default dropdown-toggle navbar-btn"
                id="dropdown_CRON"
                aria-expanded="false"
                data-toggle="dropdown"
                title="Schedule command."
                onclick="run_or_cron('CRON', 'RUN')">CRON<span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            aria-labelledby="dropdown_CRON">
            {% include "ups/commands.html" %}
        </ul>
    </div>
</li>