<!--New date\time picker-->
<li>
    <div class="input-group date navbar-btn date-input" id="datetimepicker" title="Enter cron job date\time.">
        <input type="date" name="selected_date" class="form-control">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <input type="time" name="selected_time" class="form-control">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
</li>
