{% load bootstrap3 %}

{% buttons %}
    {% if "run_command" in pr_view_perms %}
        {% if updates %}
            <input type="button"
                   value="Select All"
                   title="Select all updates."
                   class="btn btn-info btn-xs"
                   onclick="select_all('selected_updates', 'update-body', true,  'SU')"/>

            <input type="button"
                   value="Deselect All"
                   title="Deselect all updates."
                   class="btn btn-info btn-xs"
                   onclick="select_all('selected_updates', 'update-body', false, 'SU')"/>

            <input type="button"
                   value="Hide Info"
                   title="Hide updates' info."
                   class="btn btn-info btn-xs uhide"
                   onclick="hide_info('update-info', '.update-panel', '.uhide', '.ushow')"/>

            <input type="button"
                   value="Show Info"
                   title="Show updates' info."
                   class="btn btn-info btn-xs ushow"
                   onclick="show_info('update-info', '.update-panel', '.ushow', '.uhide')"/>
        {% endif %}

    {% endif %}

    {% if "add_update" in pr_view_perms %}
        <a title="Add new update."
           class="btn btn-success btn-xs"
           href="{% url 'ups:new_update' project.id %}">Add</a>
    {% endif %}

{% endbuttons %}