{% include "ups/project_scripts_buttons.html" %}

<div class="roller" id="scripts_roller">

    {% for script in scripts_filtered %}

        <div id="xb{{script.id}}"
             class="panel panel-default script-body"
             onclick="selector('xx{{script.id}}', 'xb{{script.id}}', '{{script}}', 'SX')">

            <div class="panel-heading">
                <h4 class="inline" title="{{script.desc}}">{{script|truncatechars:50}}</h4>
                {% include "ups/commands_scripts.html" %}
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal script-panel" id="xp{{script.id}}">
                    <dt>       Description</dt><dd>{{script.desc|linebreaks}}</dd>

                    {% if script.type == 'sh' or script.type ==  'py' %}
                        <dt>Options</dt>
                        <dd>
                            <input class="form-control input-md"
                                   name="script_opt{{script.id}}"
                                   title="Enter custom options here"
                                   onclick="selector('xx{{script.id}}', 'xb{{script.id}}', '{{script}}', 'SX')">
                        </dd>
                    {% endif %}

                    <dt>           Preview</dt><dd><samp>{{script.body|linebreaks|truncatewords:10}}</samp></dd>
                    <dt class="small">User</dt><dd class="small">{{script.user}}</dd>
                    <dt class="small">Date</dt><dd class="small">{{script.date|date:'M d, Y H:i'}}</dd>
                </dl>
                <!--Individual visibility buttons-->
                <span id="xh{{script.id}}"
                      title="Show\Hide this script info"
                      class="glyphicon glyphicon-menu-down xshow right"
                      onclick="show_or_hide_this('xh{{script.id}}', 'xp{{script.id}}');
                               selector('xx{{script.id}}', 'xb{{script.id}}', '{{script}}', 'SX')">
                </span>
            </div>

        </div>

        {% if "run_command" in pr_view_perms %}
            <!--Hidden checkboxes-->
            <input class="hidden"
                   type="checkbox"
                   id="xx{{script.id}}"
                   value="{{script.id}}"
                   name="selected_scripts"
                   data-target="{{script}}"/>
        {% endif %}

    {% empty %}
        There are no scripts for this project yet.
    {% endfor %}

</div>
