        <!--Up\Down buttons-->
        <div class="container hidden" id="updown">
            <div class="navbar-collapse collapse">

                <a class="goto-top"
                   onclick="go_up()"
                   href="javascript:;"
                   title="Go to the top">
                   <span class="btn btn-sm btn-primary glyphicon glyphicon-chevron-up"></span>
                </a>

                <a class="goto-bot"
                   href="javascript:;"
                   onclick="go_down()"
                   title="Go to th bottom">
                   <span class="btn btn-sm btn-primary glyphicon glyphicon-chevron-down"></span>
                </a>

            </div>
        </div>