{% extends "ups/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <title>UpS: register</title><br>
    <h2>Register new account.</h2>
{% endblock header %}

{% block content %}

    <form onsubmit="show_loader()" method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">register</button>
        {% endbuttons %}

        <input type="hidden" name="next" value="{% url 'ups:index' %}" />
    </form>

{% endblock content %}